* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

input,
button {
  outline: none;
  border: none;
}

button:disabled {
  cursor: default;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 8px;
  background-color: #d9d9d9;
}
